<div class="login-container">

    <div class="login-card">

        <h2>Welcome Back 👋</h2>

        <p class="subtitle">
            Login to access your dashboard
        </p>

        <div class="form-group">

            <label>Email Address</label>

            <input
                type="email"
                [formControl]="emailControl"
                placeholder="Enter your email">

        </div>

        <div class="form-group">

            <label>Password</label>

            <input
                type="password"
                [formControl]="passwordControl"
                placeholder="Enter your password">

        </div>

        @if(errorMessage){

            <p class="error">

                {{errorMessage}}

            </p>

        }

        <button
            class="login-btn"
            (click)="login()">

            Login

        </button>

        <div class="demo-login">

            <h4>Demo Credentials</h4>

            <p>Email : <b>admin@gmail.com</b></p>

            <p>Password : <b>123456</b></p>

        </div>

    </div>

</div>